

<div class="container" id="root">

    <!-- navbar goes here -->
    <navbar></navbar>

    <router-view></router-view>
    <!-- main page switch  -->
</div>



<%= javascript_include_tag 'bundle' %>
