<style>

#root{
    position: relative;
    overflow: hidden;
    /*z-index: -1;*/
}

#root:before{
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    /*z-index: -1;*/
    background: url(<%= image_path('bball.svg') %>) 0 0 repeat;
    transform: rotate(30deg);
}

.bball:hover {
    animation: bounce-in .5s;
}

.bounce-enter-active {
    animation: bounce-in .5s;
}
.bounce-leave-active {
    animation: bounce-out .5s;
}

@keyframes bounce-in {
  0% { transform: scale(0); }
  50% { transform: scale(1.5); }
  100% { transform: scale(1); }
}

@keyframes bounce-out {
  0% { transform: scale(1); }
  50% { transform: scale(1.5); }
  100% { transform: scale(0); }
}

</style>


<div class="container" id="root">
    <!-- navbar goes here -->
    <navbar v-bind:loggedin="loggedin"></navbar>

    <transition name="bounce">
        <router-view v-on:loginevent = "toggleNav"></router-view>
    </transition>
    <!-- main page switch  -->
</div>



<%= javascript_include_tag 'bundle' %>
