<div class="container" id="root">

    <!-- navbar goes here -->
    <navbar v-if="loggedin"></navbar>

    <router-view v-on:loginevent = "toggleNav"></router-view>
    <!-- main page switch  -->
</div>



<%= javascript_include_tag 'bundle' %>
